.bs-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  flex: 0 0 auto;
  vertical-align: -0.125em;
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.bs-icon-sm { width: 0.875em; height: 0.875em; }
.bs-icon-lg { width: 1.25em; height: 1.25em; }
.bs-icon-xl { width: 1.5em; height: 1.5em; }
